<!-- employee.html -->

<table>
    <form method="GET" action="{% url 'employee' %}">
      <input type="text" name="search" placeholder="Search...">
      <button type="submit">Search</button>
    </form>
      <thead>
        <tr>
          <th>year_experience</th>
          <th>salary</th>
          
        </tr>
      </thead>
      <tbody>
        {% for employee in employees %}
        <tr>
          <td>{{ employee.year_experience }}</td>
          <td>{{ employee.salary }}</td>
         
        {% endfor %}
      </tbody>
    </table>
    